//predkosc animacji 
$toggle-control-speed: 0.15s;
$predkosc-sekundy: 10s;
$primary: #dc5656;
$primary-ultralight: mix(white, $primary, 80%);
$primary-light: mix(white, $primary, 25%);
$primary-dark: mix(black, $primary, 25%);
$primary-ultradark: mix(black, $primary, 80%);
$black: #333333;
$white: #eeeeee;

body
{
    cursor: none;
    margin:0;

    .cursor-dot,
    .cursor-dot-outline {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
    }

    .cursor-dot {
        $size: 8px;
        width: $size;
        height: $size;
        background-color: white;
        mix-blend-mode: difference;
    }

    .cursor-dot-outline {
        $size: 40px;
        width: $size;
        height: $size;
        background-color: white;
        mix-blend-mode: difference;
    }

    .tlo{
        //padding:5px;
        background-color: #222222;
        height: 400vh;
        .cont{
            //border-radius: 30px;
            height: 100%;
            position: relative;
            
            .naglowek{
                //border-radius: 50px;
                z-index: 1;
                position: sticky;
                display: flex;
                top: 0%;
                width: 100%;
                height: 1.43%;
                box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
                
                .n_lewy{
                    width: 34%;
                    height: 100%;
                    left: 0%;
                    background-color: #FFFFFF;
                    transition: $toggle-control-speed;
                }
                .n_prawy{
                    width: 66%;
                    height: 100%;
                    right: 0%;
                    background-color: #3C3B3A;
                    transition: $toggle-control-speed;
                    
                }
    
                .sekcje{
                    position: absolute;
                    left: 3.8%;
                    top: 28.25%;
                    height: 43.5%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    color: #202020;
                    
    
                    .logo{
                        //width: 175px;
                        height: 100%;
                        left: 0px;
                        h4{
                            font-family: Be Vietnam;
                            font-style: normal;
                            font-weight: bold;
                            //font-size: 20px;
                            //line-height: 100%;
                            letter-spacing: -0.02em;
                            margin:0;
                        }
                    }
                    .s{
                        margin-left:45px;
                        font-family: Be Vietnam;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        color: #ffffff;
                        mix-blend-mode: difference;
                        
                    
                    }
                }
                
                .sekcje2{
                    position: absolute;
                    right: 3.8%;
                    top: 28.25%;
                    height: 43.5%;
                    display: flex;
                    flex-direction: row;
                    //align-items: center;
                    color: #ffffff;
                    .ikony{
                        display: flex;
                        //width: 111px;
                        height: 100%;
                        left: 0px;
                        .link{
                            margin-top: auto;
                            margin-bottom: auto;
                            text-decoration: none;
                            color: #FFFFFF;
                            //color: #d6d6d6;
                            mix-blend-mode: difference;
                            margin-right: 45px;
                        }
                        .link:hover{
                            height: 110%;
                            width: 110%;
                            box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
                            transition: $toggle-control-speed;
                        }
                        // .link:active{
                        //     color: white;
                        // }
                    }
                    
                    .p_zone{
                        position: relative;
                        display: flex;
                        .przycisk{
                            margin-left: 10px;
                            .p_tlo{
                                //position: absolute;
                                width: 40px;
                                height: 20px;
                                background-color: #d6d6d6
                                
                                ;
                                border-radius: 93px;
                                display: flex;
                                align-items: center;
                                .p_kropka{
                                    position: absolute;
                                    background: #3C3B3A;
                                    border-radius: 100px;
                                    width: 20px;
                                    height: 20px;
                                    right: 0px;
                                    border: 1px solid rgb(179, 177, 177) ;
                                    transition: $toggle-control-speed;
                                }
                            }
                        }
                        
                    }
                }
            }
            .lewy{
                position: absolute;
                width: 34%;
                height: 100%;
                background-color: #FFFFFF;
                left: 0%;
                transition: $toggle-control-speed;
            }
            .prawy{
                right: 0%;
                position: absolute;
                width: 66%;
                height: 100%;
                background-color: #222222;
                transition: $toggle-control-speed;
               
            }
            .glowne{
                position: absolute;
                width: 66.8%;
                height: 17.5%;
                left: 16.5%;
                top: 4.2%;
                .awatar{
                    width: 100px;
                    height: 100px;
                    left: 0;
                    top: 0;
                    //background: #E5E5E5;
                    background-image: url(img/moje_foto.jpg);
                    background-size: cover;
                    background-position: center;
                    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
                    border-radius: 93px;
                }
                .wstep{
                    position: absolute;
                    left: 0;
                    top: 20%;

                    font-family: EB Garamond;
                    font-style: normal;
                    font-weight: bold;
                    //font-size: 70px;
                    font-size:8vh;
                    line-height: 100%;
                    /* or 70px */
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.02em;
                    color: white;
                    mix-blend-mode: difference;
                }
                .linia{
                    border: 0.5px solid  #fffefe;
                    mix-blend-mode: difference;
                    position: absolute;
                    left: 0;
                    top:50%;
                    width: 20%;
                }
                .tekst{
                    position: absolute;
                    left: 0;
                    top:60%;
                    font-family: Be Vietnam;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 25px;
                    color: white;
                    mix-blend-mode: difference;

                }
                #tekst_pojawienie{
                    transition: $predkosc-sekundy;
                }
            }
            .glowne2{
                position: absolute;
                width: 66.8%;
                height: 17.5%;
                left: 16.5%;
                top:25%;
                .wstep2{
                    position: absolute;
                    right: 0;
                    top: 0%;

                    font-family: EB Garamond;
                    font-style: normal;
                    font-weight: bold;
                    //font-size: 70px;
                    font-size:8vh;
                    line-height: 100%;
                    /* or 70px */
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.02em;
                    color: white;
                    mix-blend-mode: difference;
                }
                .linia2{
                    border: 0.5px solid  #fffefe;
                    mix-blend-mode: difference;
                    position: absolute;
                    right: 0;
                    top:20%;
                    width: 20%;
                }
                .tekst2{
                    position: absolute;
                    right: 0;
                    top:30%;
                    font-family: Be Vietnam;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 25px;
                    color: white;
                    mix-blend-mode: difference;
                    text-align:right;
                }
            }
            .glowne3{
                position: absolute;
                width: 66.8%;
                height: 17.5%;
                left: 16.5%;
                top:50%;
                .wstep3{
                    position: absolute;
                    left: 0;
                    top: 0%;

                    font-family: EB Garamond;
                    font-style: normal;
                    font-weight: bold;
                    //font-size: 70px;
                    font-size:8vh;
                    line-height: 100%;
                    /* or 70px */
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.02em;
                    color: white;
                    mix-blend-mode: difference;
                }
                .linia3{
                    border: 0.5px solid  #fffefe;
                    mix-blend-mode: difference;
                    position: absolute;
                    left: 0;
                    top:20%;
                    width: 20%;
                }
                .tekst3{
                    position: absolute;
                    left: 0;
                    top:30%;
                    font-family: Be Vietnam;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 25px;
                    color: white;
                    mix-blend-mode: difference;
                }
            }
        }
    }
}