body
{
    margin:0;
    .tlo{
        //padding:5px;
        background-color: #222222;
        height: 100vh;
        .cont{
            //border-radius: 30px;
            height: 100%;
            position: relative;
            
            .naglowek{
                //border-radius: 50px;
                z-index: 1;
                position: sticky;
                display: flex;
                top: 0%;
                width: 100%;
                height: 5.7%;
                box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
                
                .n_lewy{
                    width: 34%;
                    height: 100%;
                    left: 0%;
                    background-color: #FFFFFF;
                }
                .n_prawy{
                    width: 66%;
                    height: 100%;
                    right: 0%;
                    background-color: #3C3B3A;
                    
                }
    
                .sekcje{
                    position: absolute;
                    left: 3.8%;
                    top: 28.25%;
                    height: 43.5%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    color: #202020;
                    
    
                    .logo{
                        //width: 175px;
                        height: 100%;
                        left: 0px;
                        h4{
                            font-family: Be Vietnam;
                            font-style: normal;
                            font-weight: bold;
                            //font-size: 20px;
                            //line-height: 100%;
                            letter-spacing: -0.02em;
                            margin:0;
                        }
                    }
                    .s{
                        margin-left:45px;
                        font-family: Be Vietnam;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        color: #ffffff;
                        mix-blend-mode: difference;
                        
                    
                    }
                }
                
                .sekcje2{
                    position: absolute;
                    right: 3.8%;
                    top: 28.25%;
                    height: 43.5%;
                    display: flex;
                    flex-direction: row;
                    //align-items: center;
                    color: #ffffff;
                    .ikony{
                        display: flex;
                        //width: 111px;
                        height: 100%;
                        left: 0px;
                        .link{
                            margin-top: auto;
                            margin-bottom: auto;
                            text-decoration: none;
                            color: #FFFFFF;
                            //color: #d6d6d6;
                            mix-blend-mode: difference;
                            margin-right: 45px;
                        }
                        .link:hover{
                            color: #d4d4d4;
                            box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
                        }
                    }
                    
                    .p_zone{
                        position: relative;
                        display: flex;
                        
                        .darkmode{
                            display: flex;
                            margin-left:45px;
                            font-family: Be Vietnam;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            //line-height: 18px;
                        }
                        .przycisk{
                            //right: 200px;
                            margin-left: 10px;
                            //line-height: 10000px;
                            .p_tlo{
                                //position: absolute;
                                width: 40px;
                                height: 22.5px;
                                background-color: #d6d6d6
                                
                                ;
                                border-radius: 93px;
                                display: flex;
                                align-items: center;
                                .p_kropka{
                                    position: absolute;
                                    background: #3C3B3A;
                                    border-radius: 93px;
                                    width: 17.0px;
                                    height: 17px;
                                    right: 3px;
                                }
                            }
                        }
                        .przycisk:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
            .lewy{
                position: absolute;
                width: 34%;
                height: 100%;
                background-color: #FFFFFF;
                left: 0%;
            }
            .prawy{
                right: 0%;
                position: absolute;
                width: 66%;
                height: 100%;
                background-color: #222222;
                // .prawy2{
                //     position: absolute;
                //     width: 100%;
                //     height: 100%;
                //     background-color: rgba(0, 0, 0, 0.521);
                //     // display: none;
                // }
            }
            .glowne{
                position: absolute;
                width: 66.8%;
                height: 70%;
                left: 16.5%;
                top: 16.8%;
                .awatar{
                    width: 100px;
                    height: 100px;
                    left: 0;
                    top: 0;
                    //background: #E5E5E5;
                    background-image: url(img/moje_foto.jpg);
                    background-size: cover;
                    background-position: center;
                    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
                    border-radius: 93px;
                }
                .wstep{
                    position: absolute;
                    left: 0;
                    top: 20%;

                    font-family: EB Garamond;
                    font-style: normal;
                    font-weight: bold;
                    //font-size: 70px;
                    font-size:8vh;
                    line-height: 100%;
                    /* or 70px */
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.02em;
                    color: white;
                    mix-blend-mode: difference;
                }
                .linia{
                    border: 0.5px solid  #222222;
                    position: absolute;
                    left: 0;
                    top:50%;
                    width: 20%;
                }
                .tekst{
                    position: absolute;
                    left: 0;
                    top:60%;

                    
                    font-family: Be Vietnam;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 25px;
                    color: white;
                    color: #d6d6d6;
                    mix-blend-mode: difference;

                }
            }
        }
    }
}