@import "breakpoints.scss";



//predkosc animacji 
$toggle-control-speed: 0.15s;
$predkosc-sekundy: 10s;
$primary: #dc5656;
$primary-ultralight: mix(white, $primary, 80%);
$primary-light: mix(white, $primary, 25%);
$primary-dark: mix(black, $primary, 25%);
$primary-ultradark: mix(black, $primary, 80%);
$black: #333333;
$white: #eeeeee;

body
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";    
    cursor: none;
    margin:0;
    @include media('<=tablet'){
        cursor: pointer;
    }


    .cursor-dot,
    .cursor-dot-outline {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;

    @include media('<=tablet'){
        z-index: -1;
    }
    }

    .cursor-dot {
        $size: 8px;
        width: $size;
        height: $size;
        background-color: white;
        mix-blend-mode: difference;
    }

    .cursor-dot-outline {
        $size: 40px;
        width: $size;
        height: $size;
        background-color: white;
        mix-blend-mode: difference;
    }
    
    .naglowek{
        //border-radius: 50px;
        z-index: 1;
        position: sticky;
        display: flex;
        top: 0;
        width: 100%;
        height: 60px;
        box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
        
        
        .n_lewy{
            width: 100%;
            height: 100%;
            left: 0%;
            background-color: #FFFFFF;
            //transition: $toggle-control-speed;
            transition:  2s ease-in-out;
        }
        .n_prawy{
            width: 0%;
            height: 100%;
            right: 0%;
            background-color: #3C3B3A;
            //transition: $toggle-control-speed;
            transition:  2s ease-in-out;
            
        }

        .sekcje{
            position: absolute;
            left: 3.8%;
            top: 28.25%;
            height: 43.5%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            color: #202020;
            

            .logo{
                transition:  1.5s ease-in-out;
                color: #202020;
                height: 100%;
                left: 0px;
                h4{
                    font-size: 1em;
                    font-family: Be Vietnam, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    letter-spacing: -0.01em;
                    margin:0;
                }
            }
            .s{
                margin-left:45px;
                font-family: Be Vietnam;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #ffffff;
                mix-blend-mode: difference;
                
            
            }
        }
        
        .sekcje2{
            position: absolute;
            right: 3.8%;
            top: 28.25%;
            height: 43.5%;
            display: flex;
            flex-direction: row;
            .ikony{
                transition:  1.5s ease-in-out;
                display: flex;
                //width: 111px;
                height: 100%;
                left: 0px;
                .link{
                    font-size: 0.9em;
                    color: #0065FF;
                    margin-top: auto;
                    margin-bottom: auto;
                    text-decoration: none;
                    margin-right: 45px;
                    transition:  1.5s ease-in-out;

                }
                .icon-facebook{
                    transition:  1.5s ease-in-out;
                }
                .icon-instagram{
                    transition:  1.5s ease-in-out;
                }
                .icon-twitter-bird{
                    transition:  1.5s ease-in-out;
                }
                
                // .link:hover{
                //     height: 110%;
                //     width: 110%;
                //     box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
                //     transition: $toggle-control-speed;
                // }
                // // .link:active{
                // //     color: white;
                // // }
            }
            
            .p_zone{
                margin-top: auto;
                margin-bottom: auto;
                position: relative;
                display: flex;
                color: #212529;
                font-size: 0.9rem;
                font-family: 'Be Vietnam', sans-serif;
                transition:  1.5s ease-in-out;
                
                .darkmode{
                        transition:  1.5s ease-in-out;
                }
                .przycisk{
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 10px;
                    .p_tlo{
                        width: 40px;
                        height: 20px;
                        background-color: #3C3B3A;
                        border-radius: 93px;
                        display: flex;
                        align-items: center;
                        .p_kropka{
                            position: absolute;
                            background: #FFFFFF;
                            border-radius: 100px;
                            width: 20px;
                            height: 20px;
                            right: 19px;
                            border: 1px solid rgb(179, 177, 177) ;
                            transition: $toggle-control-speed;
                        }
                    }
                }
                
            }
        }
    }
        .cont{
            height: 150vh; 
            
            position: relative;

            // @include media('<=tablet'){
            //     height: 150vh;
            // }
            // @include media('<=370px'){
            //     height: 300vh;
            // }
            // @include media('<=phone'){
            //     height: 320vh;
            // }

            
            
            .lewy{
                top: 0;
                bottom: 0;
                position: fixed;
                width: 100%;
                //height: 100%;
                background-color: #FFFFFF;
                left: 0;
                //transition: $toggle-control-speed;
                transition:  2s ease-in-out;

            }
            .prawy{
                top: 0;
                right: 0%;
                bottom: 0;
                position: fixed;
                width: 0%;
                //height: 100%;
                background-color: #222222;
                //transition: $toggle-control-speed;
                transition:  2s ease-in-out;
               
            }
            .glowne{
                position: absolute;
                width: 960px;
                height: 90%;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                top: 3%;
                //padding-bottom: 1000px;

                @include media('<=992px'){
                    width: 790px;
                }
                @include media('<=830px'){
                    width: 660px;
                }
                @include media('<=tablet'){
                    width: 615px;
                }
                @include media('<=645px'){
                    width: 515px;
                }
                @include media('<=540px'){
                    width: 430px;
                }
                @include media('<=450px'){
                    width: 360px;
                }
                @include media('<=370px'){
                    top: 2%;
                    width: 295px;
                }
                @include media('<=phone'){
                    width: 285px;
                }

                .awatar{
                    background-color: #FFFFFF;
                    width: 100px;
                    height: 100px;
                    left: 0;
                    top: 0;
                    background-image: url(img/moje_foto.png);
                    background-size: cover;
                    background-position: center;
                    box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.2);
                    border-radius: 100px;
                    transition:  1.5s ease-in-out;

                    @include media('<=992px'){
                        width: 70px;
                        height: 70px;
                        
                    }
                    
                }
                .wstep{
                    margin-top: 0.5em;
                    margin-bottom: 0.3em;
                    width: 80%;
                    position: relative;
                    left: 0;
                    //top: 9%;
                    font-family: EB Garamond;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 4.1em;
                    line-height: 100%;
                    display: flex;
                    align-items: center;
                    letter-spacing: -0.02em;
                    color: #0065FF;
                    transition:  1.5s ease-in-out;

                    // @include media('<=992px'){
                    //     top:7%
                    // }

                    @include media('<=tablet'){
                        font-size: 2.2em;
                        
                        
                    }
                    // @include media('<=450px'){
                    //     top: 5%;
                    // }
                    @include media('<=370px'){
                    
                        width: 100%;
                    }
                    
                }
                .linia{
                    margin-top: 80px;
                    margin-bottom: 80px;
                    border: 0.5px solid  #0065FF;
                    position: relative;
                    left: 0;
                    //top:32%;
                    width: 15%;
                    transition:  1.5s ease-in-out;

                    // @include media('<=992px'){
                    //     top:30%;    
                    // }
                    // @include media('<=830px'){
                    //     top:34.5%;
                    // }
                    // @include media('<=tablet'){
                    //     top: 20%;
                    // }
                    // @include media('<=450px'){
                    //     top: 19%;
                    // }
                    // @include media('<=370px'){
                    //     top: 15%;
                    // }
                    // @include media('<=360px'){
                    //     top: 17%;
                    // }
                    
                    
                }
                .tekst{
                    margin-top: 10px;
                    margin-bottom: 1rem;
                    position: relative;
                    left: 0;
                    //top:37%;
                    font-family: 'Be Vietnam', sans-serif;
                    font-weight: 400;
                    font-size: 1.2em;
                    line-height: 160%;
                    color: #3C3B3A;
                    //mix-blend-mode: difference;
                    letter-spacing: -0.01em;
                    transition:  1.5s ease-in-out;

                    // @include media('<=992px'){
                    //     top:35%;
                    // }
                    // @include media('<=830px'){
                    //     top:40%;
                    // }
                    // @include media('<=tablet'){
                    //     top: 24%;
                    // }
                    // @include media('<=450px'){
                    //     top: 23%;
                    // }
                    // @include media('<=370px'){
                    //     top: 18%;
                    // }
                    // @include media('<=360px'){
                    //     top: 21%;
                    // }
                    

                }
            
                .label{
                    margin-top: 1rem;
                    margin-bottom: 0.5rem;
                    display: flex;
                    position: relative;
                    //top:70%;
                    background-color: #f8f9fa;
                    border-radius: 10px;
                    padding: 1.5rem;
                    
                    line-height: 140%;
                    transition:  1.5s ease-in-out;
                    font-size: 0.9em;

                    // @include media('<=992px'){
                    //     top: 72.5%;
                    // }

                    // @include media('<=830px'){
                    //     top: 83%;
                    // }
                    // @include media('<=tablet'){
                    //     top: 70%;
                    // }
                    // @include media('<=645px'){
                    //     top: 79%;
                    // }
                    // @include media('<=540px'){
                    //     top: 90%;
                    // }
                    // @include media('<=360px'){
                    //     top: 96%;
                    // }
                    
                    
                    .label_link{
                        transition:  1.5s ease-in-out;
                        text-decoration: none;
                        color: #0065FF;
                    }
                    
                }
                .linia2{
                    position: relative;
                    margin-top: 80px;
                    margin-bottom: 80px;
                    border: 0.5px solid  #0065FF;
                    left: 0;
                    //top:80%;
                    width: 100%;
                    transition:  1.5s ease-in-out;
                    

                    // @include media('<=992px'){
                    //     top:85%;
                    // }
                    // @include media('<=830px'){
                    //     top: 95%;
                    // }
                    // @include media('<=tablet'){
                    //     top: 80%;
                    // }
                    // @include media('<=645px'){
                    //     top: 90%;
                    // }
                    // @include media('<=540px'){
                    //     top:100%;
                    // }
                    // @include media('<=360px'){
                    //     top: 105%;
                    // }
                  
                }
            }


   
        }
        
}