body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  cursor: none;
  margin: 0;
}

body .cursor-dot,
body .cursor-dot-outline {
  z-index: 2;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

body .cursor-dot {
  width: 8px;
  height: 8px;
  background-color: white;
  mix-blend-mode: difference;
}

body .cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: white;
  mix-blend-mode: difference;
}

body .naglowek {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}

body .naglowek .n_lewy {
  width: 100%;
  height: 100%;
  left: 0%;
  background-color: #FFFFFF;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

body .naglowek .n_prawy {
  width: 0%;
  height: 100%;
  right: 0%;
  background-color: #3C3B3A;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

body .naglowek .sekcje {
  position: absolute;
  left: 3.8%;
  top: 28.25%;
  height: 43.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #202020;
}

body .naglowek .sekcje .logo {
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  color: #202020;
  height: 100%;
  left: 0px;
}

body .naglowek .sekcje .logo h4 {
  font-size: 1em;
  font-family: Be Vietnam, sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.01em;
  margin: 0;
}

body .naglowek .sekcje .s {
  margin-left: 45px;
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  mix-blend-mode: difference;
}

body .naglowek .sekcje2 {
  position: absolute;
  right: 3.8%;
  top: 28.25%;
  height: 43.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .naglowek .sekcje2 .ikony {
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  left: 0px;
}

body .naglowek .sekcje2 .ikony .link {
  font-size: 0.9em;
  color: #0065FF;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  margin-right: 45px;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

body .naglowek .sekcje2 .ikony .icon-facebook {
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

body .naglowek .sekcje2 .ikony .icon-instagram {
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

body .naglowek .sekcje2 .ikony .icon-twitter-bird {
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

body .naglowek .sekcje2 .p_zone {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212529;
  font-size: 0.9rem;
  font-family: 'Be Vietnam', sans-serif;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

body .naglowek .sekcje2 .p_zone .darkmode {
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

body .naglowek .sekcje2 .p_zone .przycisk {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

body .naglowek .sekcje2 .p_zone .przycisk .p_tlo {
  width: 40px;
  height: 20px;
  background-color: #3C3B3A;
  border-radius: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .naglowek .sekcje2 .p_zone .przycisk .p_tlo .p_kropka {
  position: absolute;
  background: #FFFFFF;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  right: 19px;
  border: 1px solid #b3b1b1;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

body .cont {
  height: 150vh;
  position: relative;
}

@media (max-width: 450px) {
  body .cont {
    height: 180vh;
  }
}

@media (max-width: 370px) {
  body .cont {
    height: 210vh;
  }
}

body .cont .lewy {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  left: 0;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

body .cont .prawy {
  top: 0;
  right: 0%;
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #222222;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

body .cont .glowne {
  position: absolute;
  width: 960px;
  height: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 3%;
}

@media (max-width: 992px) {
  body .cont .glowne {
    width: 790px;
  }
}

@media (max-width: 830px) {
  body .cont .glowne {
    width: 660px;
  }
}

@media (max-width: 768px) {
  body .cont .glowne {
    width: 615px;
  }
}

@media (max-width: 645px) {
  body .cont .glowne {
    width: 515px;
  }
}

@media (max-width: 540px) {
  body .cont .glowne {
    width: 430px;
  }
}

@media (max-width: 450px) {
  body .cont .glowne {
    width: 360px;
  }
}

@media (max-width: 370px) {
  body .cont .glowne {
    top: 2%;
    width: 295px;
  }
}

@media (max-width: 360px) {
  body .cont .glowne {
    width: 285px;
  }
}

body .cont .glowne .awatar {
  background-color: #FFFFFF;
  width: 100px;
  height: 100px;
  left: 0;
  top: 0;
  background-image: url(img/moje_foto.png);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

@media (max-width: 992px) {
  body .cont .glowne .awatar {
    width: 70px;
    height: 70px;
  }
}

body .cont .glowne .wstep {
  width: 80%;
  position: absolute;
  left: 0;
  top: 9%;
  font-family: EB Garamond;
  font-style: normal;
  font-weight: 800;
  font-size: 4.1em;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.02em;
  color: #0065FF;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

@media (max-width: 992px) {
  body .cont .glowne .wstep {
    top: 7%;
  }
}

@media (max-width: 768px) {
  body .cont .glowne .wstep {
    font-size: 2.2em;
    top: 6%;
  }
}

@media (max-width: 450px) {
  body .cont .glowne .wstep {
    top: 5%;
  }
}

@media (max-width: 370px) {
  body .cont .glowne .wstep {
    top: 4.5%;
    width: 100%;
  }
}

body .cont .glowne .linia {
  border: 0.5px solid  #0065FF;
  position: absolute;
  left: 0;
  top: 32%;
  width: 15%;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

@media (max-width: 992px) {
  body .cont .glowne .linia {
    top: 30%;
  }
}

@media (max-width: 830px) {
  body .cont .glowne .linia {
    top: 34.5%;
  }
}

@media (max-width: 768px) {
  body .cont .glowne .linia {
    top: 20%;
  }
}

@media (max-width: 450px) {
  body .cont .glowne .linia {
    top: 19%;
  }
}

@media (max-width: 370px) {
  body .cont .glowne .linia {
    top: 15%;
  }
}

@media (max-width: 360px) {
  body .cont .glowne .linia {
    top: 17%;
  }
}

body .cont .glowne .tekst {
  position: absolute;
  left: 0;
  top: 37%;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 160%;
  color: #3C3B3A;
  letter-spacing: -0.01em;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

@media (max-width: 992px) {
  body .cont .glowne .tekst {
    top: 35%;
  }
}

@media (max-width: 830px) {
  body .cont .glowne .tekst {
    top: 40%;
  }
}

@media (max-width: 768px) {
  body .cont .glowne .tekst {
    top: 24%;
  }
}

@media (max-width: 450px) {
  body .cont .glowne .tekst {
    top: 23%;
  }
}

@media (max-width: 370px) {
  body .cont .glowne .tekst {
    top: 18%;
  }
}

@media (max-width: 360px) {
  body .cont .glowne .tekst {
    top: 21%;
  }
}

body .cont .glowne .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 70%;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 1.5rem;
  line-height: 140%;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  font-size: 0.9em;
}

@media (max-width: 992px) {
  body .cont .glowne .label {
    top: 72.5%;
  }
}

@media (max-width: 830px) {
  body .cont .glowne .label {
    top: 83%;
  }
}

@media (max-width: 768px) {
  body .cont .glowne .label {
    top: 70%;
  }
}

@media (max-width: 645px) {
  body .cont .glowne .label {
    top: 79%;
  }
}

@media (max-width: 540px) {
  body .cont .glowne .label {
    top: 90%;
  }
}

@media (max-width: 360px) {
  body .cont .glowne .label {
    top: 96%;
  }
}

body .cont .glowne .label .label_link {
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  text-decoration: none;
  color: #0065FF;
}

body .cont .glowne .linia2 {
  border: 0.5px solid  #0065FF;
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  body .cont .glowne .linia2 {
    top: 85%;
  }
}

@media (max-width: 830px) {
  body .cont .glowne .linia2 {
    top: 95%;
  }
}

@media (max-width: 768px) {
  body .cont .glowne .linia2 {
    top: 80%;
  }
}

@media (max-width: 645px) {
  body .cont .glowne .linia2 {
    top: 90%;
  }
}

@media (max-width: 540px) {
  body .cont .glowne .linia2 {
    top: 100%;
  }
}

@media (max-width: 360px) {
  body .cont .glowne .linia2 {
    top: 105%;
  }
}
/*# sourceMappingURL=style.css.map */